<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pydo</title>

    <style>
      body {
        margin: 0 auto;
        width: 600px;
      }

      header {
        text-align: center;
      }

      header h1 {
        color: purple;
        margin-bottom: 8px;
      }

      ul {
        list-style: none;
        color: white;
        padding: 8px 16px;
      }

      ul li {
        padding: 16px;
        margin: 4px 0;
        display: flex;
        background: purple;
        justify-content: space-between;
        font-size: 24px;
      }

      li button {
        background: transparent;
        font-size: 18px;
        height: 100%;
        border: 0;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      .form {
        margin: 8px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .form input {
        flex: 1;
      }

      .form button {
        background: purple;
        color: white;
        border-radius: 4px;
        padding: 8px 24px;
        margin-left: 18px;
        border: 0;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Pydo</h1>
      <p>
        Simple todo app made using python and the
        <a href="https://flask.palletsprojects.com/en/2.0.x/">flask</a> framwork
      </p>
    </header>

    <hr />

    <main>
      <form class="form" action="/" method="post">
        <input id="todo" type="text" name="todo" placeholder="Add todo..." />
        <button type="submit">Add</button>
      </form>

      {% if todos %}
      <ul>
        {% for t in todos %}
        <li>
          <span
            data-check-todo
            data-todo-id="{{t.id}}"
            data-todo-done="{{t.done}}"
            {%
            if
            t.done
            %}
            style="text-decoration: line-through"
            {%
            endif
            %}
          >
            {{ t.todo }}
          </span>
          <button data-todo-id="{{t.id}}" data-delete-todo>x</button>
        </li>
        {% endfor %}
      </ul>
      {% else %} You do not have any todo! {% endif %}
    </main>
  </body>

  <script>
    Array.from(document.querySelectorAll("[data-delete-todo]")).forEach(
      (btn) => {
        btn.addEventListener("click", function (e) {
          const id = parseInt(e.target.dataset.todoId);

          fetch(`/${id}`, { method: "DELETE" })
            .then((r) => r.json())
            .then((res) => {
              if (res.ok) {
                window.location.reload();
              } else {
                console.log(`error deleting todo with id: ${id}`);
              }
            });
        });
      }
    );

    Array.from(document.querySelectorAll("[data-check-todo]")).forEach(
      (todo) => {
        todo.addEventListener("click", function (e) {
          const id = parseInt(e.target.dataset.todoId);

          data = new FormData();
          data.append("todo", e.target.innerText);
          data.append(
            "done",
            e.target.dataset.todoDone === "True" ? false : true
          );

          fetch(`/${id}`, { method: "POST", body: data })
            .then((r) => r.json())
            .then((res) => {
              if (res.ok) {
                window.location.reload();
              } else {
                console.log(`error deleting todo with id: ${id}`);
              }
            });
        });
      }
    );
  </script>
</html>
